/* frontend/css/style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004080;
    color: white;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
    display: inline-block;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

#search-section {
    text-align: center;
    margin: 20px 0;
}

#search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
}

#market-trends, #top-news, #stock-info, #stock-news, #sentiment-analysis, #stock-prediction, #news-articles {
    margin: 20px;
}

#market-trends h2, #top-news h2, #stock-news h2, #sentiment-analysis h2, #stock-prediction h2, #news-articles h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#trends {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(8, 94, 7);
}

.trend-card {
    border: 5px solid #004080;
    padding: 10px;
    width: 300px;
    margin: auto;
    text-align: center;
}

#news-headlines, #news-list, #articles-list {
    list-style: none;
    padding: 0;
}

#news-headlines li, #news-list li, #articles-list li {
    margin-bottom: 10px;
}

canvas {
    display: block;
    margin-left: 32%;
    max-height: 400px;
    max-width: 400px;
}



@media screen and (max-width: 600px) {
    #trends {
        flex-direction: column;
        align-items: center;
    }

    .trend-card {
        width: 90%;
    }
}



